<h1>Triangles</h1>
<form action="/triangles">
  <div class="form-group">
    <label for="side_one">Side One</label>
    <input id="side_one" name="side_one" class="form-control" type="number" placeholder="Side One" autofocus="autofocus" required>
  </div>
  <div class="form-group"
    <label for="side_two">Side Two</label>
    <input id="side_two" name="side_two" class="form-control" type="number" placeholder="Side Two" autofocus="autofocus" required>
  </div>
  <div class="form-group"
    <label for="side_three">Side Three</label>
    <input id="side_three" name="side_three" class="form-control" type="number" placeholder="Side Three" autofocus="autofocus" required>
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
